@mixin node-form{
    max-width: 500px;
    min-width: 380px;
    padding: 20px;
}

@mixin node-size{
    width: 290px;
    height: 50px;
    max-width: 290px;
    max-height: 50px;
    box-sizing: border-box;
}

@mixin node-font{
    font-family: 'Inter';
    font-size: 16px;
}

@mixin node-border{
    border-radius: 8px;
    border: 0;
}

@mixin basic-properties{
    @include node-size;
    @include node-font;
    @include node-border;
}

@mixin basic-button{
    @include basic-properties;
    margin: 15px 0;
}

@mixin white-button{
    @include basic-button;
    @include box-shadow;
    color: #4e5969;
    border: 1px solid #f2f3f5;
    @include bgc-animation(#fff, #f7f8fa)
}

@mixin blue-button{
    @include basic-button;
    color: white;
    @include bgc-animation(#4080ff, #165dff)
}

@mixin purple-button{
    @include basic-button;
    color: white;
    @include bgc-animation(#805be8, #4d2ec8)
}

@mixin box-shadow{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

@mixin bgc-animation($bgc_1, $bgc_2){
    background-color: $bgc_1;
    transition: background-color 0.25s;

    &:hover{
        background-color: $bgc_2 !important;
    }
}

@mixin color-animation($color_1, $color_2){
    color: $color_1;
    transition: color 0.25s;

    &:hover{
        color: $color_2 !important;
    }
}