label {
    padding: 0 !important;
}

span {
    font-size: 0.8rem !important;
}

input,
textarea {
    border: none !important;
    border-radius: 0 !important;
    border-bottom: 0.185rem solid !important;
    padding-left: 0 !important;
}

textarea {
    padding-top: 1rem;
}

input:focus,
textarea:focus {
    outline: none !important;
    border-bottom: 0.185rem solid #570df8 !important;
}